.Join-container {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.Join-title {
  font-family: "Lora", serif;
  font-weight: 600;
  font-style: normal;
}

